<ion-view view-title="{{comitatoIcon}} Comitato scientifico">
<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      
  <ion-content>
    <ion-item class="item-profile">
  <div class="dett-rel">
    <img class="padding" src="img/avatar.jpg">
    <h2>Nome <strong>Cognome</strong></h2>
    <span>Esperto in comunicazione Lean</span>
    <div class="item-body">
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet augue eu elit gravida pharetra sed at lectus. In hac habitasse platea dictumst. Etiam at libero scelerisque, ullamcorper nunc sed, condimentum ligula. Mauris sodales imperdiet arcu et elementum. Maecenas et pharetra diam. Donec eu sem ac ante varius blandit. Mauris malesuada ut augue in suscipit.</p>
    </div>
    
  </div>
</ion-item>
  </ion-content>
</ion-view>
