<ion-view view-title="Home" align-title="center" hide-back-button="true">
<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  <ion-content class="home">
  <a href="#" ng-href="http://www.skilla.com/" onclick='window.open(this.href, "_system", "location=yes"); return false;'><img class="img-skilla" src="img/skilla_home.png"></a>
  <a href="#" ng-href="http://www.samsung.com/it/business/" onclick='window.open(this.href, "_system", "location=yes"); return false;'><img class="img-samsung" src="img/samsung_business.png"></a>
  <div class="img-home"><img src="img/login_image.png"></div>
  <div class="cont-home">
  	<span>Il primo evento nazionale<br/><strong>sull’eLearning per aziende</strong></span>
  	<p>Scopri i posterlab a cui puoi assistere</p>
  </div> 

  <div class="date">
  <div class="row giornate">
  <div class="col"></div>
  	<div class="col bg-date">
  		<h2>Mar</h2>
  		<p>1</p>
  	</div>
  	<div class="col bg-date">
  		<h2>Mer</h2>
  		<p>2</p>
  	</div> 
    <div class="col"></div>
  </div>     
  </div>
  </ion-content>

  <ion-footer-bar>
  <div class="footer-social">
  	<a href="#" ng-href="https://www.facebook.com/Skillacom-101669386582675/" onclick='window.open(this.href, "_system", "location=yes"); return false;'><i class="ion-social-facebook center"></i></a>
  	<a href="#" ng-href="https://twitter.com/SkillaElearning" onclick='window.open(this.href, "_system", "location=yes"); return false;'><i class="ion-social-twitter center"></i></a>
  	<a href="#" ng-href="https://www.linkedin.com/company/ax---amicucci-formazione?trk=tyah&trkInfo=tas%3Aamicucci+" onclick='window.open(this.href, "_system", "location=yes"); return false;'><i class="ion-social-linkedin center"></i></a>
  </div>
  <div class="footer-power">
  	<a href="#" ng-href="http://www.xplacecompany.com/" onclick='window.open(this.href, "_system", "location=yes"); return false;'><img src="img/loghi/powered_xplace_footer.png"></a>
  </div>
</ion-footer-bar>
</ion-view>
