<ion-view hide-back-button="false" view-title="{{posterlabIcon}} PosterLab">
    <ion-tabs class="tabs-top tabs-color-light">
    
        <ion-tab title="{{baseTitle}}" class="base" ui-sref="app.posterlab.base">
            <ion-nav-view name="base"></ion-nav-view>
        </ion-tab>
        <ion-tab title="{{intermedioTitle}}" class="intermedio" ui-sref="app.posterlab.intermedio">
            <ion-nav-view name="intermedio"></ion-nav-view>
        </ion-tab>
        <ion-tab title="{{avanzatoTitle}}" class="avanzato" ui-sref="app.posterlab.avanzato">
            <ion-nav-view name="avanzato"></ion-nav-view>
        </ion-tab>
        
    </ion-tabs>
</ion-view>

