<ion-view view-title="{{relatoriIcon}} Relatori">
  <ion-content>
  <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <ion-list class="list-rela">
      <ion-item ng-repeat="relatore in relatori" ng-show="relatore.stato==1">
         
    <a class="item item-avatar lista" href="#/app/relatori/{{relatore.id}}">
      
      <h2>{{relatore.nome}} <strong>{{relatore.cognome}}</strong></h2>
      <span>{{relatore.titolo}}</span>
      <img src="http://posterlab.skilla.com/{{relatore.immagine}}">
    </a>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
