

<ion-view hide-back-button="true" view-title="{{sessioniIcon}} {{nomeposterlab}}">
<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      

    <ion-content class="bg-chat2">

      <div ng-repeat="sessioni_dett in user"  class="messages">

        <div class="message" ng-class="{blu: sessioni_dett.tipo == 2}">
          <span>{{sessioni_dett.messaggio}}
          <br/>
          <strong>{{sessioni_dett.nick}}</strong>
          <br/>
          <div class="px12">{{sessioni_dett.data}}</div>
          </span>
          <img class="photo" ng-src="img/avatar.jpg" src="img/avatar.jpg">
        </div>

      </div>

    </ion-content>

    

</ion-view>
